img{margin-left: 20px; margin-right: 20px;}

p{margin-left: 15px; margin-right: 15px;}

.div_concurrent_img{padding: 10px 10px; display: flex; align-items:center; justify-content:center;}
@media(max-width: 768px) {
    .div_concurrent_img{flex-direction: column;}
}

.scoreboard_container{
    margin-bottom: 20px;
    padding: 10px 30px; 
    font-size: 16px; 
    word-spacing:0px;  
    border: 1px solid #000000;
    box-shadow: 10px 10px 5px #888888;
}

.div_loading_alert{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: darkred;
}

.div_project_title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.div_state_open{
    background-color:#FF851B;
    padding: 2px 8px;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 10px;
    width: 50px;
}

.div_state_hold{
    background-color:#001f3f;
    padding: 2px 8px;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 10px;
    width: 45px;
}

.div_created_date{
    display: flex;
    align-items: center;
    justify-content: center;
}