img{margin-left: 10px;}
img{margin-right: 20px;}

.div_learning{
    background-color: #FFFFFF;
    font-size: 18px; 
    word-spacing:0px; 
    border:1px solid #010101; 
    border-radius: 10px; 
    padding: 20px 20px;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 0 0 20px 10px #9c9c9c;
    -moz-box-shadow: 0 0 20px 10px #9c9c9c;
    box-shadow: 8px 8px 8px #9c9c9c;
}

.div_learning:hover {
    /* border-radius: 20px; */
    box-shadow: 0 0 5px 2px #9c9c9c;
}

.div_switch_bar_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf76;
    border-radius: 10px;
}

.div_switch_bar_container h4{
    margin-top: 10px;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div_buttons_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;
    padding: 5px;
}

.div_buttons_container button{
    width: 200px;  
    padding:7px;
    margin: 10px;
    margin-top: 0px;
    background-color: #0074D9;  
    color: #fff;   
    text-align: center;  
    vertical-align: middle;  
    border: 1px solid transparent;   
    border-radius: 5px;
    font-size: 15px; 
    transition: all;
    transition-duration: 0.2s;
}

.div_buttons_container button:hover{
    background-color: #0088ff;
    cursor:pointer;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

@media(max-width: 768px) {
    .div_buttons_container{
        flex-direction: column;
    }

    .div_switch_bar_container h4{
        font-size: 15px;
    }
}

origin_tag {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: #ff5353;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

forward_tag {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: #9b9b9b;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

cn_tag {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: #770000;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

en_tag {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: #1b0054;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

date_tag {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: #000000;
    border: 1px solid #000000;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}