img{margin-left: 20px; margin-right: 20px;}
p{margin-left: 15px; margin-right: 15px;}

.multi_img{
    /* padding: 10px 10px; */
    display: flex; 
    align-items:flex-end;
    justify-content:space-evenly;
}
@media(max-width: 768px) {
    .multi_img{
        flex-direction: column;
        align-items: center;
    }
}

.background{
    background-color:#e9e9e9;
    padding: 10px 40px; 
    font-size: 16px;
    word-spacing:0px;  
    border-radius: 5px;
    margin-bottom: 15px;
}

.background img{
    margin: 10px 10px;
}

.background p{
    margin: 0px;
}

.div_catalogue{
    padding: 10px 10px; 
    width: 100%;
    font-size: 16px; 
    word-spacing:0px;  
    /* border-radius: 10px; */
    /* box-shadow: 10px 10px 5px #888888; */
    background-color: #f9e8e8;
    animation: scale-display .3s;
}

.div_catalogue_disappear{
    width:100%;
    height: 0%;
    animation: scale-display--reversed .3s;
    animation-fill-mode:forwards;
}

.div_catalogue_container{
    margin-bottom: 20px;
    padding: 10px 30px; 
    font-size: 16px; 
    word-spacing:0px;  
    /* border:1px solid black;
    border-radius: 10px; */
}

.a_catalogue_title{
    font-weight: bold;
    color: darkslateblue;
}

.div_load_catalogue_alert{
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkred;
    font-weight: bold;
}

.div_licence{
    font-size: 16px;
    word-spacing:0px; 
    border:1px solid black;
}

.div_code_segment{
    width:100%;
    /* border:1px solid rgb(128, 128, 128); */
    border-radius: 5px;
    padding: 5px 5px;
    margin: 20px 10px;
}

.div_code_container{
    width:100%;
    animation: scale-display .3s;
}

.div_code_container_disapear {
    width:100%;
    height: 0%;
    animation: scale-display--reversed .3s;
    animation-fill-mode:forwards;
    display: inline-flex;
}

@keyframes scale-display {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@keyframes scale-display--reversed {
    0% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    99% {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    100% {
        display: none;
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
}

.div_code_segment button{
    padding: 8px 8px;
    background-color: #cfcfcf;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
    position: relative;
}

code_index {
    width: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0px;
    background-color: #f0f0f0;
    padding: 2px 20px;
    font-size: 15px;
    border-radius: 8px;
    justify-content: center;
}

.div_code_segment_button_sign {
    font-size: 15px;
}

.div_code_segment_left_absolute_block {
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_code_segment_list_index {
    background-color: #cfcfcf;
    font-size: 12px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    padding: 2px 5px;
    margin-left: 8px;
    display: flex;
}

.div_code_segment_list_index .filename {
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    color: #000000;
    margin-left: 8px;
    text-decoration: underline;
}

.div_code_segment_language_type {
    background-color: #868686;
    font-size: 12px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 8px;
}

.div_code_segment button:hover{
    transition: all .4s ease-in-out;
    background-color: #001f3f;
    border:none;
    color: #FFFFFF;
}

.chartjs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
    justify-content: center;
}

.chartjs canvas{
    margin: 0px;
    margin-bottom: 10px;
}

chartjs_index {
    align-items: center;
    color: #000000;
    margin: 0px;
    background-color: #f0f0f0;
    padding: 2px 20px;
    font-size: 15px;
    border-radius: 8px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
    justify-content: center;
}

.img img{
    margin: 0px;
    margin-bottom: 10px;
}

img_index {
    align-items: center;
    color: #000000;
    margin: 0px;
    background-color: #f0f0f0;
    padding: 2px 20px;
    font-size: 15px;
    border-radius: 8px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
    justify-content: center;
}

table_index {
    align-items: center;
    color: #000000;
    margin: 0px;
    background-color: #f0f0f0;
    padding: 2px 20px;
    font-size: 15px;
    border-radius: 8px;
}

.equation {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px; 
    font-size: 16px; 
    word-spacing:0px;  
    border:1px solid black;
}

equation_index {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ff9b9b;
    color: #FFFFFF;
    padding: 2px 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.theorm {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px; 
    font-size: 16px; 
    word-spacing:0px;  
    border:1px solid black;
}

theorm_index {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #888888;
    color: #FFFFFF;
    padding: 2px 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.theorm_prove{
    background-color:#E3E2E2;
    padding: 10px 40px; 
    font-size: 16px;
    word-spacing:0px;  
    border-radius: 15px;
    margin-bottom: 15px;
}

.theorm_prove img{
    margin: 10px 10px;
}

.theorm_prove p{
    margin: 0px;
}

.block_sign_container {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}

.block_content_container{
}

.div_learning_post{
    font-size: 16px;
    word-spacing:0px;
}

.div_indicate_source{
    font-size: 18px;
    word-spacing:0px;
    background-color: #e8e8e8;
}

.border{
    margin-bottom: 20px;
    padding: 10px 10px; 
    font-size: 16px; 
    word-spacing:0px;  
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888
}

.div_learning_post_background{
    background-color:#E3E2E2;
    padding: 10px 40px; 
    font-size: 16px;
    word-spacing:0px;  
    border-radius: 15px;
    margin-bottom: 15px;
}

.div_learning_post_background p{
    margin: 0px;
}

.div_ref{
    font-size: 16px;
    word-spacing:0px;
}

flowchart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flowchart_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

flowchart_index {
    align-items: center;
    color: #000000;
    margin: 10px 0px;
    background-color: #f0f0f0;
    padding: 2px 20px;
    font-size: 15px;
    border-radius: 8px;
}


/* ================ Block Related Style ================ */
/* I. Base Block Definition */
.base_block{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 10px;
}

.base_block_container{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.base_block_title_container{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 10px;
}

.base_block_title_container img {
    padding: 0px 0px;
    margin: 0px 0px;
}

.base_block_title_container p {
    padding: 0px 0px;
    margin: 0px 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.base_block_bar{
    height: 2px;
    padding: 0px 10px;
    width: 100%;
}

.base_block_content_container{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 10px;
    overflow-x: scroll;
    white-space: nowrap;
}
::-webkit-scrollbar {
    display: none;
}

/* II. Indicate Source Block */
.indicate_source_block{
    justify-content: center;
    margin-bottom: 50px;
}

.indicate_source_block_container{
    width: 100%;
}

.indicate_source_block_title_container{
    background-color: #ffcece;
    position: relative;
}

.indicate_source_block_title_container button{
    position: absolute;
    font-family:'Franklin Gothic Medium', STSong, Arial, sans-serif;
    font-weight: bolder;
    border: none;
    padding: 2px 8px;
    right: 10px;
    top: 10px;
    background-color: #ff6767;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
}

.indicate_source_block_title_container button:hover{
    cursor: pointer;
    background-color: #c24747;
}

.indicate_source_block_bar{
    background-color: #ff6c31;
}

.indicate_source_block_content_container{
    background-color: #f9e8e8;
    font-size: 14px;
}

.indicate_source_block_content_container entry_title{
    font-weight: bolder;
    font-size: 15px;
}

.indicate_source_block_content_container li{
    font-family: 'Courier New', Courier, monospace;
}

/* III. Note Block */
.note_block{
    justify-content: center;
    margin: 20px 0px;
}

.note_block_container{
    width: 100%;
}

.note_block_title_container{
    background-color: rgb(4, 0, 114);
    color: #ffffff;
}

.note_block_bar{
    background-color: #000144;
}

.note_block_content_container{
    background-color: #f3f1ff;
    overflow-x: initial;
    white-space: initial;
}

.noteblock_content{
    padding: 10px 20px;
    font-size: 14px;
}

.noteblock_content p{
    margin: 0px;
    padding: 0px;
}

/* IV. Question Block */
.question_block{
    justify-content: center;
    margin: 20px 0px;
}

.question_block_container{
    width: 100%;
}

.question_block_title_container{
    background-color: rgb(135, 0, 0);
    color: #ffffff;
}

.question_block_bar{
    background-color: #400000;
}

.question_block_content_container{
    background-color: #ffeeee;
    overflow-x: initial;
    white-space: initial;
}

.question_content{
    padding: 10px 20px;
    font-size: 14px;
}

.question_content p{
    margin: 0px;
    padding: 0px;
}

.comblock {
    border: #4f4f4f3c solid 1px;
    padding: 20px 10px;
    padding-bottom: 10px;
    animation: scale-display .3s;
}

.comblock_disappear {
    height: 0%;
    animation: scale-display--reversed .3s;
    animation-fill-mode:forwards;
    display: inline-flex;
}

.comment_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.comment_container .bar_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #e7e7e7;
    color: #000000;
    border-radius: 10px;
    padding: 8px 0px;
}

.comment_container .bar_container h5 {
    margin: 2px 0px;
    padding: 0px;
}

.comment_container .bar_container button{
    /* position: absolute;
    right: 20px; */
    border: none;
    border-radius: 2px;
    padding: 2px 5px;
    background-color: #e30000;
    color: #ffffff;
    margin-left: 20px;
}

.comment_container .bar_container button:hover{
    transition: all .2s ease-in-out;
    background-color: #830000;
    border:none;
    color: #ffffff;
    cursor: pointer;
}

ci { /* circle index */
    font-style: normal;
    width: 10px;
    min-width: 10px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    height: 10px;
    vertical-align: middle;
    line-height: 10px;
    border: 1px solid #000000;
    margin-bottom: 3px;
    font-weight: 400;
    display: inline-block;
    padding: 3px;
    font-size: 12px;
}

.ci_dark {
    background-color: #000000;
    color: #ffffff;
}

.ci_light {
    background-color: #ffffff;
    color: #000000;
}