.main_content_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}

.introduction_container {
	width: 100%;
	max-width: 880px;
	position: relative;
	border: solid 1px #838383;
	box-shadow: 5px 5px 5px #696969;
	border-radius: 5px ;
	margin: 0px;
	padding: 0px 20px;
	padding-bottom: 20px;
}

.introduction_container_bg {
	width: 30%;
	position: absolute;
	right: 0px;
	z-index: -1;
	height: 100%;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(../pic/me.jpeg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: cover;
}

.introduction_container h1{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.introduction_container p{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

english {
	font-size: 12px;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
	color: #e70000;
}

.introduction_container a{
	background-color: #b0b0b0;
	color: #FFFFFF;
	padding: 2px 5px;
	margin-left: 1px;
	margin-right: 2px;
	text-decoration: none;
	border-bottom: none;
	/* border: #000000 solid 2px; */
	transition: all;
    transition-duration: 0.2s;
}

.introduction_container a:hover{
    cursor:pointer;
    outline: 0;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(124, 124, 124, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(124, 124, 124, 0.6)
}

.recent_post {
	width: 100%;
	border: solid 1px #838383;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.block{
	width: 80%;
    background-color:  #e9e9e9;
	box-shadow: 10px 10px 5px #888888;
}

.block_date{
	font-size: 20px; 
	background-color: #868686; 
	padding: 0px 10px;
	color: #FFFFFF;
	word-spacing:0px; 
	z-index: 20; 
	position: absolute; 
	top:-5px; 
	left:-5px; 
	height:40px; 
	border:1px solid #9D9D9D
}

.block_link{
	word-spacing:0px; 
	z-index: 20; 
	position: absolute; 
	bottom: 8px; 
	right:20px; 
	padding-top:10px;
}

.block_link a{
	padding: 4px 10px;
	font-size: 15px; 
	text-decoration: none;
	background-color: #0074D9;
	color: #FFFFFF;
	border-radius: 10px;
	transition: all 0.5s;
}

.block_link a:hover {
	background-color: #0082f3;
	color: #FFDC00;
	/* font-size: 18px;  */
}

.recent_post_loading_alert{
	width: 90%;
	border: solid 1px #838383;
	border-radius: 10px;
}

.title{
	padding-bottom: 0.5px;
	font-size: 16px; 
	background-color: #444444; 
	word-spacing:0px;
}

.showcase-container {
	margin: 30px 0px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(30vh);
}

.showcase-container img {
	width: 100%;
	height: 100%;
}

#demo5{
	position: relative;
	transition: all 0.5s;
}

#demo5:before{
	position: absolute;
	content: "";
	z-index:-1;
	bottom: 5px;
	left: 30px;
	right: 30px;
	top: 80%;
	background: #777;
	/* -webkit-box-shadow: 0 0 20px 10px #0074D9;
	-moz-box-shadow: 0 0 20px 10px #0074D9;
	box-shadow: 0 0 20px 10px #0074D9; */
	border-radius: 100px/10px; 
}

/*周报标题样式*/

/*总 container*/
.weekly-report-container{
	background-color: #FFFFFF;
	border: 1px solid #838383;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/*标题和列表的总 container (左边)*/
.weekly-report-title-and-list-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}

/*本周周报的总 container (右边)*/
.weekly-report-current-report-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	padding: 20px 30px;
}

/*右边里面，本周周报部分的 container*/
.weekly-report-current-report{
	border: 1px solid #000000;
	box-shadow: 10px 10px 5px #888888;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*本周周报封面 container*/
.weekly-report-current-report-image{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}
.weekly-report-current-report-image img{
	margin: 0px;
	padding: 0px;
}
.weekly-report-current-report-image .grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);} /*img class 灰色*/
.weekly-report-current-report-image .huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);} /*img class 色调旋转*/
.weekly-report-current-report-image .invert {-webkit-filter: invert(100%);filter: invert(100%);} /*img class 色调反转*/
.weekly-report-current-report-image .opacity {-webkit-filter: opacity(50%);filter: opacity(50%);} /*img class 浅化*/
.weekly-report-current-report-image .saturate {-webkit-filter: saturate(7); filter: saturate(7);} /*img class 浸水化*/
.weekly-report-current-report-image .sepia {-webkit-filter: sepia(100%);filter: sepia(100%);} /*img class 复古化*/
.weekly-report-current-report-image .shadow {-webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);} /*img class 添加阴影*/

/*本周周报标题 container*/
.weekly-report-current-report-title{
	padding: 10px 0px 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.weekly-report-current-report-title h2{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
.weekly-report-current-report-title h5{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

/*本周周报封面介绍 container*/
.weekly-report-current-report-intro{
	padding: 5px 30px;
}
.weekly-report-current-report-intro p{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
}


/*周报标题 container*/
.weekly-report-title-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
}
.weekly-report-title-container h1{
	margin: 0px;
	padding: 0px;	
	font-size: 30px;
}
.weekly-report-title-container h5{
	margin: 0px;
	padding: 0px 10px;
	font-size: 14px;
	background-color: #fd0404da;
	color: #ffffff;
}

/*周报列表 container*/
.weekly-report-list-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 0px 20px 30px;
	margin: 0px;
}
.weekly-report-list-container li{
	margin: 0px;
	padding: 0px;
}

@media(max-width: 768px) {
	.weekly-report-container{
		flex-direction: column;
	}
	
	.weekly-report-title-and-list-container{
		width: 100%;
	}

	.weekly-report-current-report-container{
		width: 100%;
	}

	.weekly-report-title-container h5{
		font-size: 10px;
	}

	.weekly-report-list-container{
		padding: 0px;
	}
}
